:root {
  --primary-color: #4caf50;
  --secondary-color: #f5f5f5;
  --text-color: #333;
  --input-height: 30px;
  --input-font-size: 14px;
  --input-border-color: #ccc;
  --error-color: #f44336;
  --button-color: #2196f3;
  --button-text-color: #fff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebar {
  background-color: var(--primary-color);
  padding: 20px;
  margin-right: 40px;
  color: white;
}

.sidebar h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Form Container Styling */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  flex: 1 100%;
}

.form-container input {
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: var(--input-font-size);
}

textarea {
  min-width: 90%;
  padding: 8px;
}

/* Styling for image upload button */
.image-upload-btn {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.image-upload-btn:hover {
  opacity: 0.8;
}

#imageUpload {
  display: none;
}
.image-preview {
  border: 2px solid #ccc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin-right: 10px;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

button[type="submit"],
button[type="reset"] {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 8px 16px; /* تقليص حجم الأزرار */
  border-radius: 4px;
  cursor: pointer;
}
